In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('./data/infatuation_reviews_new.csv', lineterminator = '\n')

In [3]:
df.head()

,address,cost,cuisine,name,rating,review
0,"\n2750 Broadway\nNew York, NY 10025\n(212) 510...",2.0,Pizza,Mama’s Too,8.3,A typical NYC slice shop has a few basic eleme...
1,"\n14 Christopher St\nNew York, NY 10014\n(212)...",4.0,Japanese,Omakase Room By Tatsu,7.7,Tolerance for group trips can vary widely. Som...
2,"\n428 Greenwich St.\nNew York, NY 10013\n212-2...",4.0,Japanese,Sushi Azabu,8.5,When the apocalypse eventually comes for New Y...
3,"\n264 Clinton St\nNew York, NY 11201\n(347) 98...",3.0,Seafood,Saint Julivert Fisherie,7.7,"When you’re young, you don’t have to think muc..."
4,"\n498 9th Ave\nNew York, NY 10018\n(646) 863-2...",2.0,Russian,Farida,8.0,"There’s a bleak, sweaty place on 34th Street w..."

In [4]:
df.columns

Index(['address', 'cost', 'cuisine', 'name', 'rating', 'review'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 6 columns):
address    825 non-null object
cost       824 non-null float64
cuisine    819 non-null object
name       825 non-null object
rating     825 non-null float64
review     825 non-null object
dtypes: float64(2), object(4)
memory usage: 38.8+ KB

In [6]:
df[df['cuisine'].isnull()]

,address,cost,cuisine,name,rating,review
630,"\n241 Bowery\nNew York, NY 10002\n212-388-0052\n",2.0,NaN,Bowery Diner,5.8,Let's be honest. If this were a regular Manhat...
699,"\n511 E. 5th St.\nNew York, NY 10009\n212-687-...",3.0,NaN,Goat Town,6.8,"We know you are curious, so let's address this..."
732,"\n225 Park Ave. S.\nNew York, NY 10003\n212-53...",3.0,NaN,Wildwood Barbecue,2.1,The subway during summer. The current season o...
790,"\n85 Orchard St.\nNew York, NY 10002\n212-226-...",3.0,NaN,Little Giant,6.3,I hear such great things about Little Giant th...
798,"\n227 Mott St.\nNew York, NY 10012\n212-625-00...",1.0,NaN,Pinche Taqueria,7.0,In a city where Chipotle dominates the cheap M...
806,"\n205 Allen St.\nNew York, NY 10002\n212-777-3...",3.0,NaN,Mole,6.0,There isn't much in the way of Mexican to choo...

In [9]:
int_list = [1, 2, 4, 5, 1, 1, 2]
int_list.count(1)

3

In [23]:
new_list = []
new_dict = {}
for i in int_list:
    new_dict[i] = int_list.count(i)
    new_list.append(int_list.count(i))
    
    print(new_dict.key)
                                
new_dict

{1: 3, 2: 2, 4: 1, 5: 1}

In [32]:
max(new_dict.values())

AttributeError: 'int' object has no attribute 'key'

In [ ]:
plt.hist(df.rating);

## Clean up address column

In [ ]:
#look at format:
df.address[0].replace('\n', ' ')

In [ ]:
df.address[1]

In [ ]:
df.address[2].count('\n')

In [ ]:
sentence = '\n428 Greenwich St.\nNew York, NY 10013\n212-274-0428\n'

In [ ]:
len('\n212-274-0428\n')

In [ ]:
len(sentence)

In [ ]:
sentence = sentence.replace('\n', '', 1)
sentence = sentence.replace('\n', ', ', 1)

In [ ]:
df.address[0]

In [ ]:
df.address[2].replace('\n', '', 1)

## Impute Null values

In [ ]:
df[df.cost.isnull()]

In [ ]:
df[(df['cuisine'] == 'Sandwiches')]['cost'].mean()

Because the average for Sandwhich restaurants is 2.0 and on Yelp the cost for this restaurant is 2, I will use 2 as the value.

In [ ]:
df.loc[431, 'cost'] = 2.0

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.duplicated().sum()

Create new .csv file

In [ ]:
df.to_csv('./cleaned_reviews.csv', index = False)

In [ ]:
df.head()

In [ ]:
bronx_zips = [10453, 10457, 10460, 10458, 10467,
              10468, 10451, 10452, 10456, 10454, 
              10455, 10459, 10474, 10463, 10471,
              10466, 10469, 10470, 10475, 10461, 
              10462, 10464, 10465, 10472, 10473]

brooklyn_zips = [11212, 11213, 11216, 11233, 11238, 11249,
                 11209, 11214, 11228, 11204, 11218, 
                 11219, 11230, 11234, 11236, 11239, 
                 11223, 11224, 11229, 11235, 11201, 
                 11205, 11215, 11217, 11231, 11203, 
                 11210, 11225, 11226, 11207, 11208, 
                 11211, 11222, 11220, 11232, 11206, 11221, 11237]

queens_zips = [11361, 11362, 11363, 11364, 11354, 
               11355, 11356, 11357, 11358, 11359, 11360,
               11365, 11366, 11367,
               11412, 11423, 11432, 11433, 11434, 11435, 11436,
               11101, 11102, 11103, 11104, 11105, 11106,
               11374, 11375, 11379, 11385, 11691, 11692, 11693, 11694, 11695, 11697,
               11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429,
               11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421,
               11368, 11369, 11370, 11372, 11373, 11377, 11378]

manhattan_zips = [10026, 10027, 10030, 10037, 10039, 
                  10001, 10011, 10018, 10019, 10020, 10036,
                  10029, 10035, 10010, 10016, 10017, 10022,
                  10012, 10013, 10014, 10282,
                  10004, 10005, 10006, 10007, 10038, 10280,
                  10002, 10003, 10009, 10021, 10028, 10044, 10065, 10075, 10128,
                  10023, 10024, 10025, 10031, 10032, 10033, 10034, 10040]

staten_island_zips = [10302, 10303, 10310, 
                      10306, 10307, 10308, 10309, 10312,
                      10301, 10304, 10305, 10314]

jersey_zips = ['07382', '07302']

In [ ]:
manhattan_zips = [str(z) for z in manhattan_zips]
brooklyn_zips = [str(z) for z in brooklyn_zips]
bronx_zips = [str(z) for z in bronx_zips]
queens_zips = [str(z) for z in queens_zips]
staten_island_zips = [str(z) for z in staten_island_zips]

In [ ]:
manhattan_zips[0]

In [ ]:
df['borough'] = '0'

In [ ]:
df['zip_code'] = '0'

In [ ]:
df.head()

In [ ]:
df.loc[1, 'zip_code'] = '12111'

In [ ]:
df.drop(['borough', 'zip_code'], axis=1, inplace=True)

In [ ]:
#boroughs = []
for i, x in enumerate(df['address']):
    for z in brooklyn_zips:
        print(i, x, z)
        if z in x:
            df.loc[i, 'borough'] = 'Brooklyn'
            df.loc[i, 'zip_code'] = z
    for z in manhattan_zips:
        if z in x:
            df.loc[i, 'borough'] = 'Manhattan'
            df.loc[i, 'zip_code'] = z
    for z in queens_zips:
        if z in x:
            df.loc[i, 'borough'] = 'Queens'
            df.loc[i, 'zip_code'] = z
    for z in bronx_zips:
        if z in x:
            df.loc[i, 'borough'] = 'Bronx'
            df.loc[i, 'zip_code'] = z
    for z in staten_island_zips:
        if z in x:
            df.loc[i, 'borough'] = 'Staten Island'
            df.loc[i, 'zip_code'] = z
    for z in jersey_zips:
        if z in x:
            df.loc[i, 'borough'] = 'Jersey City'
            df.loc[i, 'zip_code'] = z

In [ ]:
if '10282' in df.loc[52, 'address']:
    print('yes it is!')
else:
    print('Im lying')

In [ ]:
df.head()

In [ ]:
df['borough'].value_counts()

In [ ]:
len(df['borough'])

In [ ]:
df[df['borough'].isnull()]

In [ ]:
df.head(20)

In [ ]:
df.borough.value_counts()

In [ ]:
def change_width(ax, new_value) :
    for patch in ax.patches :
        current_width = patch.get_width()
        diff = current_width - new_value

        # we change the bar width
        patch.set_width(new_value)

        # we recenter the bar
        patch.set_x(patch.get_x() + diff * .5)

change_width(ax, .35)

In [ ]:
ax.patches

In [ ]:
sns.set_style('whitegrid')
fig, ax = plt.subplots(figsize = (25, 10))
sns.countplot(x = df['borough'], ax = ax, palette = "GnBu_d", saturation = 0.6)
change_width(ax, .35)
plt.xticks(fontsize = 30)
plt.yticks(fontsize = 30)
plt.xlabel('')
plt.ylabel('');
#plt.show()

In [ ]:
df['cuisine'].value_counts().head(20).index

In [ ]:


sns.set_style('whitegrid')
fig, ax = plt.subplots(figsize = (25, 10))
plt.bar(df['cuisine'].value_counts().head(20).index, df['cuisine'].value_counts().head(20).values, color = 'darkgrey')
change_width(ax, .35)
plt.xticks(fontsize = 30, rotation = 90)
plt.yticks(fontsize = 30)
plt.xlabel('')
plt.ylabel('');
#plt.show()